.App {
  text-align: center;
}

.App-logo {
  height: 200px;
}

.App-header {
  background-color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-intro {
  color: #4bd5ee;
  padding-bottom: 150px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 8s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.App-episode {
  text-align: center;
  font-size: 100px;
}

.App-title {
  text-align: center;
  font-size: 150px;
}

.App-release {
  text-align: center;
  font-size: 90px;
}

.App-space {
  text-align: center;
  color: #000;
}
